body {
  background-color: #313946;
  font-family: "Comic Sans MS";
  margin: 0;
  text-align: center;
}

button {
  background: none;
  border: none;
  color: #6191cf;
  font-size: inherit;
  font-weight: 700;
  height: 100%;
  letter-spacing: 1px;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

button:hover {
  background: #6191cf;
  color: white;
}

h1 {
  color: white;
  font-weight: normal;
  margin: 0;
  text-align: center;  
  text-transform: uppercase;
}

#message {
  color: #6191cf;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;  
  width: 22%;
}

#banner-container {
  background-color: #6191cf;
}

#banner {
  display: table;
  height: 90px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

#colorDisplay {
  font-size: 140%;
  font-weight: normal;
}

#container {
  margin: 10px auto;
  max-width: 600px;
}

#stripe {
  background-color: white;
  text-align: center;
}

.circle {
  border-radius: 100%;
  float: left;
  margin: 1.66%;
  padding-bottom: 30%;
  transition: background 0.7s;
  width: 30%;
  -webkit-transition: background 0.7s;
  -moz-transition: 0.7s;
}

.selected {
  background-color: #6191cf;
  color: white;
}
